<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All user</title>
  </head>
  <body>
    <h1>All User</h1>
    <% allUser.forEach(user => { %>
    <div>
      <p>
        <%= user.id %> | <%= user.firstname %> | <%= user.lastname %> | <%=
        user.username %> | <%= user.email %> | <%= user.password %> | <%=
        user.isadmin %> | <%= user.memberstatus %>
      </p>
    </div>
    <% }) %>
  </body>
</html>
